body{
  background-color: #F0F8FF;
}
header {text-align:center; font-style: normal; font-family: Impact, fantasy;}
h2 { 
    text-align: center; 
    font-family: Impact, fantasy;
    border: 3px solid black;
    border-style: dashed;
    background-color: #A0A0A0;
    background-size: auto;}
p { font-family: Andale Mono, monospace; font-size: 14px;}
li {font-family: Andale Mono, monospace;}
header{
    border: 3px solid black;
    background-color: grey;
    background-size: auto;
}
table,td{
  font-family: Andale Mono, monospace;
  text-align: center;
  border: 2px solid ;
}