* {
  	box-sizing: border-box;
}

body{
    background-color:black;
    color:white;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#calculadora{
	display:flex;
	flex-wrap: wrap-reverse;
	flex-direction: column;	
	justify-content: center;
	background-color: gray;
	max-width: 380px;
	align-items:center;
}

#calculadora > #pantalla{
	margin: 1em;
	background-color: mediumseagreen;
	margin-top: 1.2em;
	min-width: 300px;
	min-height: 50px;
	font-size: 1.3em;
}

#calculadora > div{
	margin: 0.3em;
	min-width: 360px;
}

#calculadora > div > input{
	align-items: center;
	margin:0.2em;
	min-width: 50px;
	min-height: 30px;
	font-size: 1em;
}

#calculadora label{
	display:none;
}